html{
  height: 100%;
}

body{
  background-repeat:no-repeat;
  background-attachment: fixed;
}

nav {
  margin-bottom: 1rem;
}

th {
  font-size: large;
}

td {
  color: black;
}

td:hover{
  background-color: #00000027;
}

.clockdiv{
font-family: sans-serif;
color: rgb(0, 0, 0);
border-radius: 4px;
padding: 0px;
display: inline-block;
font-weight: 600;
text-align: center;
font-size: 15px;
min-width: 118px;
}


/* 
.clockdiv > span{
padding: 2px;
border-radius: 3px;
background: #ffc266;
display: inline-block;
}
 */



.editBtn{
  margin-top: auto;
  padding: 10px;
}

.editBtn > button{
  margin: 0px 5px 0px 5px;
  width: 15%;
  color: black;
}

.card-body{
  justify-content: center;
}

.card-details{
  background-color: #ffeeba;
  width: 65%;
  min-height: 120px;
  text-align: left;
}

.card-time{
  background-color: #ffeeba;
  width: 27%;
  min-height: 120px;
  min-width: 100px;
}
.collapse > .card{
  background-color: #d9c8a0;
}

.collapsing > .card{
  background-color: #d9c8a0;
}




.colorpicker{
  background-color: #ffd3d3;
}